certifi==2023.7.22
charset-normalizer==3.1.0
cx-Oracle==8.3.0
exceptiongroup==1.1.1
idna==3.4
iniconfig==2.0.0
packaging==23.1
pluggy==1.0.0
project-paths==1.1.1
pytest==7.3.1
pytest-mock==3.10.0
python-dotenv==1.0.0
requests==2.30.0
toml==0.10.2
tomli==2.0.1
urllib3==2.0.2
